body{
  display:flex;
  justify-content: center;
}

.container{
  width:500px;
  border:1px solid blue;
  overflow-x: hidden; 
  float:left;
}

.child{
  float:left;
  padding:10px;
  cursor: pointer;
}

.quadrado{
  height: 35px;
  width: 35px;
  background-color: red;
  margin: 5px;
}